/* Layout.css

.sidebar {
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto;
  }
  
  .sidebar-header {
    background-color: #f8f9fa;
    border-bottom: 1px solid #dee2e6;
  }
  
  .nav-link {
    color: #495057;
    font-size: 18px;
  }
  
  .nav-link:hover {
    color: #007bff;
    text-decoration: none;
  }
  main {
    background-color: #ffffff; 
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  } */

  img{
    width:auto;
  }
  h2{
    color:red;
  }